// Colors
$main-txt-color: #ffffff;
$input-txt-color: #999999;
$input-bg-color: #f0eef0;
$input-border-color: #dfdfdf;
$input-wrapper-bg-color: #ffffff;
$button-txt-color: #ffff;
$error: #ff0000;
$input-icons-color: #bababa;
